body{
	background: url(images/header/orange.jpg) no-repeat;
	background-size: 100%;
}

div.home{
	width: 950px;
	margin: 0 auto;

}

div.home header {
	height: 100px;
	border: 1px dashed black;
	margin: 10px 0 0 0;
}

menu.top{
	outline: 1px dashed black;
}

menu.top li{
	margin-right: 25px;
	margin-top: 12px;
	float: left;
}
menu.top ul{
	padding-left: 20px;

}
menu.top a {
	color       	: white;
	display     	: block;
	font-family 	: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size   	: 15px;
	text-transform  : capitalize;
	text-decoration : none;
}
menu.top a:hover{
	color:      black;
}
div.home section.slider{
	min-height: 400px;
	border: 1px dashed black;
	margin: 10px 0 0 0;

}

div.home section.content{
	height: 400px;
	border: 1px dashed black;
	margin: 10px 0 0 0;

}

div.home footer{
	height: 100px;
	border: 1px dashed black;
	margin: 10px 0 0 0;
}


